<!DOCTYPE html>
<html>
<head>
    <title>3D PSO Simulation</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shadcn/ui@latest/dist/shadcn-ui.css">
    <style>
        body {
            margin: 0;
            display: flex;
            overflow: hidden;
        }

        #controls {
            padding: 1%;
            background: #f8f8f8;
            display: flex;
            flex-direction: column;
            gap: 10px;
            height: 100vh;
            overflow-y: auto;
            width: 300px;
            flex-shrink: 0;
            box-sizing: border-box;
        }

        canvas {
            flex: 1;
            display: block;
        }

        .form-group {
            display: flex;
            flex-direction: column;
            gap: 2px;
        }

        .input {
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .btn {
            background: #3f51b5;
            color: white;
            padding: 8px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .btn:hover {
            background: #303f9f;
        }

        h3 {
            margin: 0 0 5px 0;
        }
    </style>
</head>
<body>
<div id="controls">
    <h3>Препятствия</h3>
    <div class="form-group">
        <label>Кол-во препятствий</label>
        <input id="numObstacles" type="number" value="100" class="input">
    </div>
    <div class="form-group">
        <label>Координаты начала</label>
        <input id="x11" type="number" value="1" class="input" placeholder="X1">
        <input id="y11" type="number" value="1" class="input" placeholder="Y1">
        <input id="z11" type="number" value="1" class="input" placeholder="Z1">
    </div>
    <div class="form-group">
        <label>Координаты конца</label>
        <input id="x12" type="number" value="9" class="input" placeholder="X2">
        <input id="y12" type="number" value="9" class="input" placeholder="Y2">
        <input id="z12" type="number" value="9" class="input" placeholder="Z2">
    </div>
    <label>
        <input id="moving" type="checkbox"> Движущиеся
    </label>
    <button class="btn" onclick="createObstacles()">Создать</button>
    <button class="btn" onclick="readObstacles()">Загрузить локацию</button>
    <button class="btn" onclick="writeObstacles()">Сохранить локацию</button>

    <h3>Частицы</h3>
    <div class="form-group">
        <label>Радиус</label>
        <input id="radius" type="number" step="0.1" value="0.2" class="input">
    </div>
    <div class="form-group">
        <label>Координаты начала</label>
        <input id="x21" type="number" value="0" class="input" placeholder="X1">
        <input id="y21" type="number" value="0" class="input" placeholder="Y1">
        <input id="z21" type="number" value="0" class="input" placeholder="Z1">
    </div>
    <div class="form-group">
        <label>Координаты конца</label>
        <input id="x22" type="number" value="10" class="input" placeholder="X2">
        <input id="y22" type="number" value="10" class="input" placeholder="Y2">
        <input id="z22" type="number" value="10" class="input" placeholder="Z2">
    </div>
    <div class="form-group">
        <label>W</label>
        <input id="w" type="number" step="0.01" value="0.9" class="input">
    </div>
    <div class="form-group">
        <label>Alpha</label>
        <input id="alpha" type="number" step="0.01" value="0.98" class="input">
    </div>
    <div class="form-group">
        <label>C1</label>
        <input id="c1" type="number" step="0.01" value="0.5" class="input">
    </div>
    <div class="form-group">
        <label>C2</label>
        <input id="c2" type="number" step="0.01" value="0.5" class="input">
    </div>
    <div class="form-group">
        <label>Частиц</label>
        <input id="numParticles" type="number" value="100" class="input">
    </div>
    <div class="form-group">
        <label>Итераций</label>
        <input id="numIterations" type="number" value="25" class="input">
    </div>
    <button class="btn" onclick="findRoute()">Найти маршрут</button>
    <button class="btn" onclick="start()">Старт</button>
    <button class="btn" onclick="stop()">Стоп</button>
    <button class="btn" onclick="test()">Тест</button>
    <button class="btn" onclick="testRadius()">Тест (Радиус)</button>
</div>

<script>
    let scene, camera, renderer, controls, trajectoryLine, radius;
    let obstacles = [];
    let obstacleData = [];

    let socket = new WebSocket("ws://localhost:8080/ws");

    socket.onmessage = function (event) {
        let aggregateResult = JSON.parse(event.data);
        let obstacles = aggregateResult.obstacles;
        let route = aggregateResult.route;
        obstacles.forEach(updateObstacle);
        drawRoute(route)
    };

    function updateObstacle(obstacle) {
        let mesh = scene.getObjectByName(obstacle.id);
        if (mesh) {
            mesh.position.set(obstacle.center.x, obstacle.center.y, obstacle.center.z);
        }
    }

    function init() {
        scene = new THREE.Scene();

        camera = new THREE.PerspectiveCamera(75, window.innerWidth / window.innerHeight, 0.1, 100);
        camera.position.set(5, 10, 20);

        renderer = new THREE.WebGLRenderer({antialias: true});
        renderer.setSize(window.innerWidth, window.innerHeight);
        renderer.shadowMap.enabled = true;
        document.body.appendChild(renderer.domElement);

        controls = new THREE.OrbitControls(camera, renderer.domElement);
        controls.enableDamping = true;
        controls.dampingFactor = 0.1;
        controls.screenSpacePanning = false;
        controls.maxDistance = 50;

        const ambientLight = new THREE.AmbientLight(0x404040, 1.0);
        scene.add(ambientLight);

        const directionalLight = new THREE.DirectionalLight(0xffffff, 1.0);
        directionalLight.position.set(5, 10, 5);
        directionalLight.castShadow = true;
        scene.add(directionalLight);

        const pointLight = new THREE.PointLight(0xffffff, 1, 50);
        pointLight.position.set(2, 5, 2);
        scene.add(pointLight);

        window.addEventListener("resize", onWindowResize);
        animate();
    }

    function onWindowResize() {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize(window.innerWidth, window.innerHeight);
    }

    function loadObstacles() {
        fetch("/obstacle")
            .then(res => res.json())
            .then(data => {
                clearObstacles();
                data.forEach(obstacle => addObstacle(obstacle));
            });
    }

    function createObstacles() {
        const params = {
            obstacleParams: {
                numberOfObstacles: parseInt(document.getElementById("numObstacles").value),
                endpoints: [
                    {
                        x: parseFloat(document.getElementById("x11").value),
                        y: parseFloat(document.getElementById("y11").value),
                        z: parseFloat(document.getElementById("z11").value)
                    },
                    {
                        x: parseFloat(document.getElementById("x12").value),
                        y: parseFloat(document.getElementById("y12").value),
                        z: parseFloat(document.getElementById("z12").value)
                    }
                ],
                isMoving: document.getElementById("moving").checked
            },
            particleParams: {
                w: parseFloat(document.getElementById("w").value),
                alpha: parseFloat(document.getElementById("alpha").value),
                c1: parseFloat(document.getElementById("c1").value),
                c2: parseFloat(document.getElementById("c2").value),
                numberOfParticles: parseInt(document.getElementById("numParticles").value),
                numberOfIterations: parseInt(document.getElementById("numIterations").value),
                endpoints: [
                    {
                        x: parseFloat(document.getElementById("x21").value),
                        y: parseFloat(document.getElementById("y21").value),
                        z: parseFloat(document.getElementById("z21").value)
                    },
                    {
                        x: parseFloat(document.getElementById("x22").value),
                        y: parseFloat(document.getElementById("y22").value),
                        z: parseFloat(document.getElementById("z22").value)
                    }
                ],
                radius: parseFloat(document.getElementById("radius").value)
            }
        };
        fetch("/obstacle", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(params)
        })
            .then(res => res.json())
            .then(data => {
                clearObstacles();
                data.forEach(obstacle => {
                    addObstacle(obstacle)
                    obstacleData.push(obstacle)
                });
            });
    }

    function addObstacle(obstacle) {
        const geometry = new THREE.SphereGeometry(obstacle.radius, 32, 32);
        const material = new THREE.MeshStandardMaterial({color: "red", roughness: 0.9, metalness: 0.1});
        const mesh = new THREE.Mesh(geometry, material);
        mesh.position.set(obstacle.center.x, obstacle.center.y, obstacle.center.z);
        mesh.castShadow = true;
        mesh.name = obstacle.id;
        scene.add(mesh);
        obstacles.push(mesh);
    }

    function clearObstacles() {
        obstacles.forEach(obj => scene.remove(obj));
        obstacles = [];
        obstacleData = [];
    }

    function readObstacles() {
        fetch("/json/obstacle", {
            method: "GET",
            headers: {"Content-Type": "application/json"}
        })
            .then(res => res.json())
            .then(data => {
                clearObstacles();
                data.forEach(obstacle => addObstacle(obstacle));
            });
    }

    function writeObstacles() {
        fetch("/json/obstacle", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(obstacleData)
        });
    }

    function findRoute() {
        const params = {
            obstacleParams: {
                numberOfObstacles: parseInt(document.getElementById("numObstacles").value),
                endpoints: [
                    {
                        x: parseFloat(document.getElementById("x11").value),
                        y: parseFloat(document.getElementById("y11").value),
                        z: parseFloat(document.getElementById("z11").value)
                    },
                    {
                        x: parseFloat(document.getElementById("x12").value),
                        y: parseFloat(document.getElementById("y12").value),
                        z: parseFloat(document.getElementById("z12").value)
                    }
                ],
                isMoving: document.getElementById("moving").checked
            },
            particleParams: {
                w: parseFloat(document.getElementById("w").value),
                alpha: parseFloat(document.getElementById("alpha").value),
                c1: parseFloat(document.getElementById("c1").value),
                c2: parseFloat(document.getElementById("c2").value),
                numberOfParticles: parseInt(document.getElementById("numParticles").value),
                numberOfIterations: parseInt(document.getElementById("numIterations").value),
                endpoints: [
                    {
                        x: parseFloat(document.getElementById("x21").value),
                        y: parseFloat(document.getElementById("y21").value),
                        z: parseFloat(document.getElementById("z21").value)
                    },
                    {
                        x: parseFloat(document.getElementById("x22").value),
                        y: parseFloat(document.getElementById("y22").value),
                        z: parseFloat(document.getElementById("z22").value)
                    }
                ],
                radius: parseFloat(document.getElementById("radius").value)
            }
        };
        radius = params.particleParams.radius
        fetch("/pso", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(params)
        })
            .then(res => res.json())
            .then(data => drawRoute(data));
    }

    function drawRoute(points) {
        if (trajectoryLine) {
            trajectoryLine.forEach(cylinder => scene.remove(cylinder));
        }
        trajectoryLine = [];

        const cylinderMaterial = new THREE.MeshBasicMaterial({color: "lime", transparent: true, opacity: 0.3});

        for (let i = 0; i < points.length - 1; i++) {
            const p1 = new THREE.Vector3(points[i].x, points[i].y, points[i].z);
            const p2 = new THREE.Vector3(points[i + 1].x, points[i + 1].y, points[i + 1].z);

            const direction = new THREE.Vector3().subVectors(p2, p1);
            const length = direction.length();
            const midpoint = new THREE.Vector3().addVectors(p1, p2).multiplyScalar(0.5);
            direction.normalize();

            const cylinderGeometry = new THREE.CylinderGeometry(radius, radius, length, 10);
            const cylinder = new THREE.Mesh(cylinderGeometry, cylinderMaterial);

            const axis = new THREE.Vector3(0, 1, 0).cross(direction).normalize();
            const angle = Math.acos(new THREE.Vector3(0, 1, 0).dot(direction));

            cylinder.position.copy(midpoint);
            if (axis.length() > 0) {
                cylinder.quaternion.setFromAxisAngle(axis, angle);
            }
            scene.add(cylinder);
            trajectoryLine.push(cylinder);
        }
    }

    function start() {
        const params = {
            obstacleParams: {
                numberOfObstacles: parseInt(document.getElementById("numObstacles").value),
                endpoints: [
                    {
                        x: parseFloat(document.getElementById("x11").value),
                        y: parseFloat(document.getElementById("y11").value),
                        z: parseFloat(document.getElementById("z11").value)
                    },
                    {
                        x: parseFloat(document.getElementById("x12").value),
                        y: parseFloat(document.getElementById("y12").value),
                        z: parseFloat(document.getElementById("z12").value)
                    }
                ],
                isMoving: document.getElementById("moving").checked
            },
            particleParams: {
                w: parseFloat(document.getElementById("w").value),
                alpha: parseFloat(document.getElementById("alpha").value),
                c1: parseFloat(document.getElementById("c1").value),
                c2: parseFloat(document.getElementById("c2").value),
                numberOfParticles: parseInt(document.getElementById("numParticles").value),
                numberOfIterations: parseInt(document.getElementById("numIterations").value),
                endpoints: [
                    {
                        x: parseFloat(document.getElementById("x21").value),
                        y: parseFloat(document.getElementById("y21").value),
                        z: parseFloat(document.getElementById("z21").value)
                    },
                    {
                        x: parseFloat(document.getElementById("x22").value),
                        y: parseFloat(document.getElementById("y22").value),
                        z: parseFloat(document.getElementById("z22").value)
                    }
                ],
                radius: parseFloat(document.getElementById("radius").value)
            }
        };
        radius = params.particleParams.radius
        fetch("/start", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(params)
        });
    }

    function stop() {
        fetch("/stop", {
            method: "POST",
            headers: {"Content-Type": "application/json"}
        });
    }

    function test() {
        const params = {
            obstacleParams: {
                numberOfObstacles: parseInt(document.getElementById("numObstacles").value),
                endpoints: [
                    {
                        x: parseFloat(document.getElementById("x11").value),
                        y: parseFloat(document.getElementById("y11").value),
                        z: parseFloat(document.getElementById("z11").value)
                    },
                    {
                        x: parseFloat(document.getElementById("x12").value),
                        y: parseFloat(document.getElementById("y12").value),
                        z: parseFloat(document.getElementById("z12").value)
                    }
                ],
                isMoving: document.getElementById("moving").checked
            },
            particleParams: {
                w: parseFloat(document.getElementById("w").value),
                alpha: parseFloat(document.getElementById("alpha").value),
                c1: parseFloat(document.getElementById("c1").value),
                c2: parseFloat(document.getElementById("c2").value),
                numberOfParticles: parseInt(document.getElementById("numParticles").value),
                numberOfIterations: parseInt(document.getElementById("numIterations").value),
                endpoints: [
                    {
                        x: parseFloat(document.getElementById("x21").value),
                        y: parseFloat(document.getElementById("y21").value),
                        z: parseFloat(document.getElementById("z21").value)
                    },
                    {
                        x: parseFloat(document.getElementById("x22").value),
                        y: parseFloat(document.getElementById("y22").value),
                        z: parseFloat(document.getElementById("z22").value)
                    }
                ],
            }
        };
        fetch("obstacle/test", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(params)
        });
    }

    function testRadius() {
        const params = {
            obstacleParams: {
                numberOfObstacles: parseInt(document.getElementById("numObstacles").value),
                endpoints: [
                    {
                        x: parseFloat(document.getElementById("x11").value),
                        y: parseFloat(document.getElementById("y11").value),
                        z: parseFloat(document.getElementById("z11").value)
                    },
                    {
                        x: parseFloat(document.getElementById("x12").value),
                        y: parseFloat(document.getElementById("y12").value),
                        z: parseFloat(document.getElementById("z12").value)
                    }
                ],
                isMoving: document.getElementById("moving").checked
            },
            particleParams: {
                w: parseFloat(document.getElementById("w").value),
                alpha: parseFloat(document.getElementById("alpha").value),
                c1: parseFloat(document.getElementById("c1").value),
                c2: parseFloat(document.getElementById("c2").value),
                numberOfParticles: parseInt(document.getElementById("numParticles").value),
                numberOfIterations: parseInt(document.getElementById("numIterations").value),
                endpoints: [
                    {
                        x: parseFloat(document.getElementById("x21").value),
                        y: parseFloat(document.getElementById("y21").value),
                        z: parseFloat(document.getElementById("z21").value)
                    },
                    {
                        x: parseFloat(document.getElementById("x22").value),
                        y: parseFloat(document.getElementById("y22").value),
                        z: parseFloat(document.getElementById("z22").value)
                    }
                ],
            }
        };
        fetch("obstacle/test-radius", {
            method: "POST",
            headers: {"Content-Type": "application/json"},
            body: JSON.stringify(params)
        });
    }

    function animate() {
        requestAnimationFrame(animate);
        controls.update();
        renderer.render(scene, camera);
    }

    init();
</script>
</body>
</html>
